.card-hidden {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
}

.card-revealed {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    color: #333;
    border-radius: 10px;
    font-size: 1.5rem;
}

.text-muted {
    font-size: 1.2rem;
}

.text-success {
    font-weight: bold;
    font-size: 1.5rem;
}

.select-value {
    padding: 5px;
    box-shadow: 0 0 15px #007bff;
    border-radius: 10px;
    color: #007bff;
}

h1 {
    color: #fff;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px
};